@font-face {
    font-family: 'Spicy Rice';
    font-style: normal;
    font-weight: 400;
    src: local('Spicy Rice'), url('https://cdn.lunaweb.ru/fonts/spicy-rice/SpicyRice-4B0Z4.woff') format('woff');
}


